.setPage {
  padding-top: 2rem;
  width: 100%;
  margin: 0 auto;
}

.setPage .versus {
  display: flex;
  align-items: center;
  font-size: 1.5rem;
}

.setPage__matchDetails {
}

.setPage__playerNames {
  justify-content: space-between;
  display: flex;
  width: 27%;
}

.setPage__playerName {
  font-size: 4rem;
}

.setPage .matches {
  margin-top: 7rem;
}

.setPage .noMatches {
  text-align: center;
  padding-top: 5rem;
  font-size: 1.5rem;
  color: rgb(160, 160, 160);
}

.matches__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.matches__header h2 {
  font-size: 3rem;
}
