table {
  width: 100%;
  text-align: left;
  margin-top: 2rem;
  font-size: 1.3rem;
  border-collapse: collapse;
}

tbody {
  padding-top: 2rem;
}

thead {
  padding-bottom: 0.5rem;
}

.tableBody {
  padding-top: 2rem;
}

.tableRow {
  border-bottom: 1px solid #cbcbcb;
  padding-top: 2rem;
}

.tableContainer {
  padding-top: 3rem;
}

th {
  padding: 0.5rem 0rem;
}

td {
  padding: 1rem 0rem;
}

.playerName {
  font-weight: bold;
}

@media only screen and (max-width: 1000px) {
  table {
    text-align: center;
    width: 90%;
    margin: 0 auto;
    margin-top: 2rem;
  }

  .characterHeader {
    display: none;
  }
  .characters {
    display: none;
  }
}
