.authpage {
  width: 100%;
  height: calc(100vh - 60px);
  display: flex;
  background: url('https://www.nintendo.com/content/dam/noa/en_US/games/switch/s/super-smash-bros-ultimate-switch/super-smash-bros-ultimate-switch-hero.jpg');
  position: relative;
  flex-direction: column;
  align-items: center;
}

.authpage::before {
  content: '';
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.89);
  /* background: rgba(255, 255, 255, 0.87); */
  position: absolute;
}

.authpage > .flex {
  height: 100%;
  width: 100%;
}

.brandName {
  font-size: 5rem;
  color: #dbdbdb;
  z-index: 2;
  margin-top: 4rem;
}

.siteDetails {
  width: 60%;
  height: 100%;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: white;
}

.previewImg {
  width: 90%;
  height: 600px;
  background: orange;
  z-index: 2;
  /* transform: perspective(600px) rotateY(10deg); */
  background: url('../../assets/images/smashtable-sm.jpg');
  background-size: 100% 100%;
  background-repeat: no-repeat;
  align-self: center;
  justify-self: center;
}

.previewText {
  background: #212121;
  width: 90%;
  padding: 1rem 0rem;
  text-align: center;
  font-size: 1.5rem;
  color: #efefef;
  letter-spacing: 1px;
}
