.tournamentPage {
  padding-top: 3rem;
}

.tournamentPage .flexRow {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.matchSetForm {
  width: 100%;
  padding-top: 2rem;
}
.matchSetForm select {
  border: none;
  padding-right: 2rem;
  background: #414141;
  color: white;
  border-right: 5px solid transparent;
  border-left: 5px solid transparent;
}

.createSet {
  padding-top: 3rem;
}

.createSet button {
  background: dodgerblue;
  color: white;
  float: right;
}

.matchSetForm .formGroup {
  width: 40%;
}

.matchSetForm .playerName {
  width: 100%;
}

.matchFormat {
  width: 40%;
}
